<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/mystyles.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>
        <header>
          <section class="hero is-primary">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Article Analyzer
                </h1>
                <h2 class="subtitle">
                  Find out if an article is objective or subjective.
                </h2>
              </div>
            </div>
          </section>
        </header>

        <main>
            <section id="entry" class="field section">
              <form class="control" onsubmit="return Client.handleSubmit(event)">
                <label class="label">Article URL</label>
                <input class="input" id="url" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter article URL">
                <input class="button is-primary" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
              </form>
            </section>

            <section id="results" class="section">
                <strong>Results:</strong>
                <div id="results">
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                    <div id="polarity-confidence"></div>
                    <div id="subjectivity-confidence"></div>
                </div>
            </section>
        </main>

        <footer class="footer">
          <p>&copy; Copyright 2020</p>
        </footer>
    </body>
</html>
